.dashboardcontainer{
    padding: 20px;
    background-color: whitesmoke;
    text-align: left;
}
.dashboardtext{
    color: orangered !important;
    font-size: 16px !important;
    font-weight: 700 !important;
}

